<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">


</head>
<body>

<header id="header" th:fragment="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="../025-job-listing-master/img/logo1.png" width="50" height="50" alt=""
                                 title=""/></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/addons">All Addons</a></li>
                    <li class="menu-active"><a sec:authorize="isAuthenticated()" href="/addons/my-addons">My addons</a>
                    </li>
                    <li><a href="/addons/new">Publish Addon</a></li>
                    <li class="menu-active">
                    <li class="menu-active"><a sec:authorize="isAuthenticated()" href="/profile">Profile</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li class="menu-has-children"><a sec:authorize="hasRole('ADMIN')">Admin Portal</a>
                        <ul>
                            <li><a th:href="@{/users}">All Users</a></li>
                            <li><a th:href="@{/addons/pending}">Pending add-ons</a></li>
                        </ul>
                    </li>
                    <li th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                    <li><a class="ticker-btn" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
                    </li>
                    </li>
                    <li th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                        <a class="ticker-btn" th:href="login">Login</a>
                    </li>

                    <li th:action="@{/logout}" sec:authorize="isAuthenticated()" method="get">
                        <a class="ticker-btn" th:href="logout">Logout</a>
                        <p>
                            <i th:if="${param.logout}">You have been logged out.</i>
                        </p>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->

            <h5 class="blue-color col-sm-4">
                <p sec:authorize="isAuthenticated()">
                    You are logged in as: <strong span sec:authentication="name"/>
                </p>
                <div sec:authorize="hasRole('ADMIN')">
                </div>
            </h5>
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center">
            </div>
        </div>
    </div>
    </div>
</header><!-- #header -->

<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



