<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">


</head>
<body>
<form action="../static/025-job-listing-master/search.html" class="serach-form-area" th:fragment="inner-header">
    <div class="row justify-content-center form-wrap">
        <a class="ticker-btn" th:href="@{'/addons/sort?criteria=name'}">Name A-Z</a>
        <a class="ticker-btn" th:href="@{'/addons/sort?criteria=name_desc'}">Name Z-A</a>
        <a class="ticker-btn" th:href="@{'/addons/sort?criteria=downloads'}">Downloads</a>
        <a class="ticker-btn" th:href="@{'/addons/sort?criteria=upload_date'}">Upload date</a>
        <a class="ticker-btn" th:href="@{'/addons/sort?criteria=commit_date'}">Last-commit date</a>
    </div>
</form>

<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



