<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">


</head>
<body>

<header th:replace="fragments/header :: header"></header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <br>
                <h1 class="text-white">
                    <span class="blue-color">ABOUT   </span>US
                </h1>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-6 post-list">
                <div class="single-post d-flex flex-row">
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-center">

                            <div class="single-widget protfolio-widget">
                                <img src="../025-job-listing-master/img/blog/darina.jpg" height="150" alt="">
                                <a href="#"><h4>Darina Ilieva</h4></a>
                                <p>
                                    Former travel agent, <br>
                                    future developer.
                                </p>
                                <ul>
                                    <li><a href="https://gitlab.com/darina.ilieva"><i class="fa fa-gitlab"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="single-widget protfolio-widget">
                                <img src="../025-job-listing-master/img/blog/galina.jpg" width="150" height="150"alt="">
                                <a href="#"><h4>Galina Lambova</h4></a>
                                <p>
                                    Future programmer with <br> a background in finance.
                                </p>
                                <ul>
                                    <li><a href="https://gitlab.com/lambova"><i class="fa fa-gitlab"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="titles">
                            <h5>This project was developed during our education at <br> Telerik Academy as a part
                                of Alpha Java 17 Cohort.</h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section th:replace="fragments/footer :: footer"></section>

<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



