<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">

</head>
<body>

<header th:replace="fragments/header :: header"></header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    <span class="blue-color">ALL  </span>ADD-ONS
                </h1>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <section class="feature-cat-area pt-10" id="post">
            <div class="container">
                <div class="row justify-content-center d-flex">
                    <div class="col-lg-8 post-list">
                        <form th:replace="fragments/inner-header :: inner-header"></form>


                        <div class="row">
                            <div class="single-post d-flex flex-row" th:each="addon:${addons}">
                                <div class="thumb">
                                    <img th:src="@{'/' + ${addon.id} + '/addonImage'}"
                                         class="img-fluid img-thumbnail" alt="">
                                    <ul class="tags">
                                        <li th:each="tag:${addon.tags}">
                                            <a th:href="@{'/addons/tag?tagId=' + ${tag.tagId}}"
                                               th:text="${tag.tagName}"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="details">
                                    <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                            <a th:href="@{/addons/{id} (id=${addon.id})}"><h4
                                                    th:text="${addon.name}"></h4></a>
                                            <h6>Rating</h6>
                                        </div>
                                        <ul class="btns">
                                            <li><a th:href="@{/addons/{id} (id=${addon.id})}"><span
                                                    class="lnr lnr-star">  RATE</span></a></li>
                                            <li>
                                                <a th:href="@{localhost:8080/{id}/download (id=${addon.id})}">Download</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p th:text="${addon.description}">
                                    </p>
                                    <h6>Creator: <a th:text="${addon.creator.getUsername()}"></a></h6>
                                    <h6>Number of downloads: <a th:text="${addon.numberOfDownloads}"></a></h6>
                                    <p class="address">Link of origin: <a th:text="${addon.linkOrigin}"
                                                                          th:href="${addon.linkOrigin}"></a>
                                    </p>

                                    <div class="single-post job-experience">
                                        <h4 th:if="${addon.getDetail()}"></h4>
                                        <table class="table table-bordered table-striped">
                                            <thead class="thread-light">
                                            <tr>
                                                <th>Open issues</th>
                                                <th>Pull requests</th>
                                                <th>Date of last commit</th>
                                                <th>Last commit message</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:object="${addon.getDetail()}">
                                                <td th:text="${addon.getDetail().getCountOpenIssues()}">0</td>
                                                <td th:text="${addon.getDetail().getCountPullRequests()}">0</td>
                                                <td th:text="${addon.getDetail().getDateOfLastCommit()}">01.01.2001</td>
                                                <td th:text="${addon.getDetail().getMessageOfLastCommit()}">last
                                                    message
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</section>

<section th:replace="fragments/footer :: footer"></section>

<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



