<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">


</head>
<body>

<header th:replace="fragments/header :: header"></header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <br>
                <h1 class="text-white">
                    <span>ADDON</span>IS
                </h1>
                <br>
                <h1 class="text-white">
                    <span>100+</span> Add-ons posted here
                </h1>
                <form th:replace="fragments/inner-header :: inner-header"></form>

                <ul class="text-white"><span>Filter by tags:</span>
                    <ul class="tags">
                    <span th:each="tag: ${tags}">
                        <span><a class="blue-color" th:href="@{'/addons/tag?tagId=' + ${tag.tagId}}"
                                 th:text="${tag.tagName}"></a> </span>   </span></ul>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>NEW</h4>
                    <p>
                        Find the latest add-ons published.
                        Be up to date.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>POPULAR</h4>
                    <p>
                        Find add-ons with most downloads
                        and rate them.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>SORT</h4>
                    <p>
                        Sort by: name, downloads, upload date, last commit date.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>TAGS</h4>
                    <p>
                        Click on a tag to find all add-ons associated to it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->

<!-- Start popular-post Area -->
<br> <br> <br><br> <br>
<div class="row d-flex justify-content-center">
    <div class="title text-center">
        <h1 class="mb-10">Featured</h1>
        <p>The choice of our admins for the week.</p>
    </div>
</div>
<section class="popular-post-area pt-10">
    <div class="container">
        <div class="row align-items-center">
            <div class="active-popular-post-carusel">
                <div class="single-popular-post flex-row" th:each="addon : ${addons}">
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img th:src="@{'/' + ${addon.id} + '/addonImage'}" class="img-fluid img-thumbnail" alt="">
                        </div>
                        <div class="details">
                            <h4 th:text="${addon.name}"></h4>
                            <p th:text="${addon.description}"></p>
                            <br><br>
                            <div class="row justify-content-center form-wrap">
                                <a class="ticker-btn" th:href="@{/{id}/download (id=${addon.id})}">download</a>
                                <a class="ticker-btn" th:href="@{/addons/{id} (id=${addon.id})}">view add-on</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End popular-post Area -->


<!-- Start feature-cat Area -->
<br> <br> <br><br> <br>
<div class="row d-flex justify-content-center">
    <div class="title text-center">
        <h1 class="mb-10">Popular</h1>
        <p>Add-ons with the highest number of downloads.</p>
    </div>
</div>
<section class="feature-cat-area pt-10" id="category">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6" th:each="addon:${sortedByDownloads}">
                <div class="single-fcat" th:href="@{/addons/{id} (id=${addon.id})}">
                    <img th:src="@{'/' + ${addon.id} + '/addonImage'}" class="img-fluid img-thumbnail" alt="">
                    <p>
                        <a th:text="${addon.name}" th:href="@{/addons/{id} (id=${addon.id})}"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature-cat Area -->

<!-- Start post Area -->
<br> <br> <br><br> <br>
<div class="row d-flex justify-content-center">
    <div class="title text-center">
        <h1 class="mb-10">New</h1>
        <p>The newest add-ons.</p>
    </div>
</div>
<!--<section class="post-area section-gap">-->
<section class="feature-cat-area pt-10" id="post">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post d-flex flex-row" th:each="addon:${sortedByDate}">
                    <div class="thumb">
                        <img th:src="@{'/' + ${addon.id} + '/addonImage'}" class="img-fluid img-thumbnail" alt="">
                        <ul class="tags">
                            <li th:each="tag:${addon.tags}">
                                <a th:href="@{'/addons/tag?tagId=' + ${tag.tagId}}" th:text="${tag.tagName}"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a th:href="@{/addons/{id} (id=${addon.id})}"><h4 th:text="${addon.name}"></h4></a>
                                <h6>Rating: </h6>
                            </div>
                            <ul class="btns">
                                <li><a th:href="@{/addons/{id} (id=${addon.id})}"><span
                                        class="lnr lnr-star">  RATE</span></a></li>
                                <li><a th:href="@{/{id}/download (id=${addon.id})}">Download</a></li>
                            </ul>
                        </div>
                        <p th:text="${addon.description}">
                        </p>
                        <h6>Creator: <a th:text="${addon.creator.getUsername()}"></a></h6>
                        <h6>Number of downloads: <a th:text="${addon.numberOfDownloads}"></a></h6>
                        <!--                        <h5>IDE: Microsoft Visual Code</h5>-->
                        <p class="address">Link of origin: <a th:text="${addon.linkOrigin}"
                                                              th:href="${addon.linkOrigin}"></a></p>

                        <div class="single-post job-experience">
                            <h4 th:if="${addon.getDetail()}"></h4>
                            <table class="table table-bordered table-striped">
                                <thead class="thread-light">
                                <tr>
                                    <th>Open issues</th>
                                    <th>Pull requests</th>
                                    <th>Date of last commit</th>
                                    <th>Last commit message</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:object="${addon.getDetail()}">
                                    <td th:text="${addon.getDetail().getCountOpenIssues()}">0</td>
                                    <td th:text="${addon.getDetail().getCountPullRequests()}">0</td>
                                    <td th:text="${addon.getDetail().getDateOfLastCommit()}">01.01.2001</td>
                                    <td th:text="${addon.getDetail().getMessageOfLastCommit()}">last message</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Add-ons by Tags</h4>
                    <ul class="cat-list">
                        <li th:each="tag: ${tags}">
                            <a class="justify-content-between d-flex "
                               th:href="@{'/addons/tag?tagId=' + ${tag.tagId}}"><p th:text="${tag.tagName}"></p>
                                <span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End post Area -->

<!-- Start callto-action Area -->
<section th:replace="fragments/footer :: footer"></section>
<!-- End calto-action Area -->

<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



