<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">

</head>
<body>

<header th:replace="fragments/header :: header"></header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    <span class="blue-color">REGISTER  </span>HERE
                </h1>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img src="../025-job-listing-master/img/post.png" alt="">
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">

                            <p style="text-align: center">
                                <i th:if="${error != null}" th:text="${error}" class="error"></i>
                            </p>
                            <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}"
                                  method="post"
                                  style="text-align: center">
                                <h6>First Name:</h6>
                                <input type="text" th:field="*{firstName}" required/>
                                <label style="color: red" th:errors="*{username}"
                                       th:text="#{firstName.notEmpty}"></label>
                                <br/>
                                <h6>Last Name:</h6>
                                <input type="text" th:field="*{lastName}" required/>
                                <label style="color: red" th:errors="*{username}"
                                       th:text="#{lastName.notEmpty}"></label>
                                <br/>
                                <h6>Username:</h6>
                                <input type="text" th:field="*{username}" required/>
                                <label style="color: red" th:errors="*{username}"
                                       th:text="#{username.notEmpty}"></label>
                                <h6>Password:</h6>
                                <input type="password" th:field="*{password}" required/>
                                <br/>
                                <h6>Retype Password:</h6>
                                <input type="password" th:field="*{passwordConfirmation}" required/>
                                <br/>
                                <label style="color: red" th:errors="*{passwordConfirmation}"
                                       th:text="#{passwordConfirmation.equal}"></label>
                                <h6>email:</h6>
                                <input type="text" th:field="*{email}" required/>
                                <br/>
                                <label style="color: red" th:errors="*{email}"
                                       th:text="#{email.invalid}"></label>
                                <br/><br/>
                                <ul class="btns">
                                    <input type="submit" value="Register"/>
                                </ul>
                                <br/><br/>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
  </section>
<section th:replace="fragments/footer :: footer"></section>
<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



