<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display:block;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{../025-job-listing-master/img/logo1.png}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ADDONIS</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->

    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../025-job-listing-master/css/main.css}">

</head>
<body>

<header th:replace="fragments/header :: header"></header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    <span class="blue-color">ADDON</span>IS
                </h1>
                <br>
            </div>
        </div>
    </div>
</section>

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img th:src="@{'/' + ${addon.id} + '/addonImage'}">
                        <ul class="tags">
                            <li th:each="tag: ${addontags}">
                                <a th:href="@{'/addons/tag?tagId=' + ${tag.tagId}}" th:text="${tag.tagName}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="#"><h4 th:text="${addon.name}">Addon name</h4></a>
                            </div>
                        </div>
                        <p th:text="${addon.description}"> Addon description</p>

                        <label>Rating: </label>
                        <span th:if="${ratingDTO.getAverageRating() == null}">Not rated yet.</span>
                        <span th:unless="${ratingDTO.getAverageRating() == null}"></span>
                        <span th:text="${ratingDTO.getAverageRating()}"></span>
                        <form action="#" th:action="@{/addons/{addonId}/rate (addonId=${addon.id})}" method="post">
                            <!--                            <input type="text" name="rating" placeholder="1-5">-->
                            <!--                            <input type="submit" value="Rate">-->
                            <div class="star-rating star-5">
                                <input type="submit" name="rating" value="1"><i></i>
                                <input type="submit" name="rating" value="2"><i></i>
                                <input type="submit" name="rating" value="3"><i></i>
                                <input type="submit" name="rating" value="4"><i></i>
                                <input type="submit" name="rating" value="5"><i></i>

                            </div>


                        </form>

                        <div class="title d-flex flex-row justify-content-between">
                            <p>
                                <i th:if="${error != null}" th:text="${error}" class="error">Message</i>
                            </p>
                        </div>
                        <div>


                        </div>

                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <div class="titles">
                        <h4 class="container" th:if="${addon.hasRightsToModify()}">Update your Addon here:</h4>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <form class="container" th:if="${addon.hasRightsToModify()}" action="#"
                                  th:action="@{/addons/{id}/update (id=${addon.id})}" th:object="${addon}" method="post"
                                  enctype="multipart/form-data">
                                <label style="color: red" th:if="${!addon.hasRightsToModify()&& addon.isExisting}"
                                       th:text="#{addon.noRights}"></label>
                                <label th:text="#{addons.header.name}"> Addon name: (design):</label>
                                <label>
                                    <input type="text" th:field="*{name}" required/>
                                </label>
                                <label style="color: red" th:errors="*{name}" th:text="#{newAddon.invalidName}"></label>
                                <br/><br/>

                                <label th:text="#{addons.header.description}"> Addon description: (design)</label>
                                <label>
                                    <input type="text" th:field="*{description}" required/>
                                </label>
                                <br/><br/>

                                <label th:text="#{addons.header.linkOrigin}"> Addon link of Origin: (design)</label>
                                <label>
                                    <input type="text" th:field="*{linkOrigin}" required/>
                                </label>
                                </label>
                                <label style="color: red" th:errors="*{linkOrigin}"
                                       th:text="#{newAddon.invalidLinkOfOrigin}"></label>
                                <br><br>

                                <label class="control-label">Select Icon File:</label>
                                <input id="imageFile" name="imageFile" type="file" class="file">
                                <br/><br/>
                                <br><br><br>
                                <label class="control-label">Select Plugin File:</label>
                                <input id="pluginFile" name="pluginFile" type="file" class="file">
                                <br/><br/>
                                <ul class="btns">
                                    <input type="submit" value="Update"/>
                                </ul>
                            </form>

                            <form class="container" th:if="${addon.hasRightsToModify()}" action="#"
                                  th:action="@{/addons/{id}/delete (id=${addon.id})}" th:method="post">
                                <ul class="btns">
                                    <input th:type="submit" th:value="Delete"/>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="single-post d-flex flex-row">
                    <form class="container" th:if="${addon.hasRightsToModify()}" action="#"
                          th:action="@{/addons/{addonId}/add-tag (addonId=${addon.id})}"
                          method="post">
                        <label>Tag</label>
                        <input type="text" name="tagName" placeholder="tag">
                        <input type="submit" value="Add">
                    </form>

                    <form class="container" th:if="${addon.hasRightsToModify()}" action="#"
                          th:action="@{/addons/{addonId}/remove-tag (addonId=${addon.id})}"
                          method="post">
                        <input type="text" name="tagName" placeholder="tag">
                        <input type="submit" value="Remove">
                    </form>
                </div>
                <div class="single-post job-experience">
                    <h4 th:if="${addon.isExisting()}"></h4>
                    <table class="table table-bordered table-striped">
                        <thead class="thread-light">
                        <tr>
                            <th>Open issues</th>
                            <th>Pull requests</th>
                            <th>Date of last commit</th>
                            <th>Last commit message</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:object="${addondetails}">
                            <td th:text="${addondetails.getCountOpenIssues()}">0</td>
                            <td th:text="${addondetails.getCountPullRequests()}">0</td>
                            <td th:text="${addondetails.getDateOfLastCommit()}">01.01.2001</td>
                            <td th:text="${addondetails.getMessageOfLastCommit()}">last message</td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<section th:replace="fragments/footer :: footer"></section>
<script src="../025-job-listing-master/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../025-job-listing-master/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../025-job-listing-master/js/easing.min.js"></script>
<script src="../025-job-listing-master/js/hoverIntent.js"></script>
<script src="../025-job-listing-master/js/superfish.min.js"></script>
<script src="../025-job-listing-master/js/jquery.ajaxchimp.min.js"></script>
<script src="../025-job-listing-master/js/jquery.magnific-popup.min.js"></script>
<script src="../025-job-listing-master/js/owl.carousel.min.js"></script>
<script src="../025-job-listing-master/js/jquery.sticky.js"></script>
<script src="../025-job-listing-master/js/jquery.nice-select.min.js"></script>
<script src="../025-job-listing-master/js/parallax.min.js"></script>
<script src="../025-job-listing-master/js/mail-script.js"></script>
<script src="../025-job-listing-master/js/main.js"></script>
</body>
</html>



